[submodule "submodules/AERA_Protobuf"]
	path = submodules/AERA_Protobuf
	url = https://github.com/IIIM-IS/AERA_Protobuf.git
	branch = main
[submodule "submodules/Eigen"]
	path = submodules/Eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
